@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(255, 241, 253);
}

#center {
    width: 88%;
    margin: 0 auto;
}

.top {
    width: 100%;
    height: 23px;
    color: white;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    font-size: 12px;
}

.top p {
    padding-top: 4px;
    padding-left: 3px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.nav-down {
    margin-top: 25px;
    height: 99px;
    background: #E6E6E6;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.nav-down p {
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.nav-down input {
    margin-top: 12px;
    margin-left: 15px;
    padding-left: 16px;
    width: 87%;
    height: 48px;
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
    background: #FFFFFF;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#search-btn {
    width: 8%;
    height: 36px;
    margin-left: 8px;
    color: #B4B4B4;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#search-btn:focus > span {
    padding: 4px 8px;
    margin-left: -4px;
    border: 1px dotted #110038;
}

#input:focus {
    color: #110038;
}

#search-options {
    position: absolute;
    z-index: 5;
    top: 234px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 1187px;
    height: 160px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#search-options > div {
    width: 87%;
    height: 36px;
    margin-left: 15px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#search-options button {
    margin-top: 2px;
    margin-left: 2px;
    text-align: left;
    width: 99.6%;
    height: 30px;
    background: #F0F0F0;
    border: none;
}


#search-options button:hover {
    border: 1px dotted black;
    background: #dadada;
}

.btn-tag {
    padding: 6px;
    display: none;
    margin-top: 10px;
    margin-bottom: -20px;
    width: max-content;
    height: 34px;
    color: #FFFFFF;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
}

.btn-tag:hover {
    cursor: pointer;
    background: #3A72DB;
}

.nav-down button:hover {
    cursor: pointer;
}

.nav-rigth {
    width: 35%;
    justify-content: space-around;
    display: flex;
}

.mis-guifos {
    height: 32px;
    margin-left: 8px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
}

.mis-guifos:hover {
    border: 0.5px dotted black;
}

.mis-guifos:active {
    color: #8b8b8b;
}

.mis-guifos:active span {
    border-bottom: 1px solid #8b8b8b;
}

.mis-guifos span {
    border-bottom: 1px solid #110038;
}

.btnImgDiv {
    display: flex;
}

.btn-pink:hover, .btnImgDiv:hover button, .btnImgDiv:hover img {
    background: #E6BBE2;
}

.btn-pink:active, .btnImgDiv:active button, .btnImgDiv:active img {
    background: #E6BBE2;
}

.btnImgDiv:hover, .btn-pink:hover {
    cursor: pointer;
}

.btnImgDiv:hover >.btn-pink > span, .btnImgDiv:hover img, .btn-pink:hover span {
    border: 1px dotted black;
}

.btnImgDiv:active >.btn-pink > span, .btnImgDiv:active img, .btn-pink:active span {
    border: 1px dotted black;
}

.btnImgDiv button {
    width: 130px;
}

.btnImg {
    width: 36px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btnImg img {
    position: relative;
    top: 2px;
    left: 1px;
    padding: 11px 10px;
}

.btn-pink {
    padding: 0px;
    font-size: 16px;
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    color: black;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn-pink a {
    text-decoration: none;
    color: black;
}

#dottedSpan {
    padding: 4px 23px;
}

.btn-pink span {
    padding: 4px 19px;
}

#oculto {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
    width: 166px;
    height: 102px;
    position: absolute;
    top: 97px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#oculto li {
    list-style: none;
    width: 150px;
    height: 36px;
    padding-top: 7px;
    padding-left: 16px;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

#oculto li:hover {
    cursor: pointer;
}

#night {
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#day {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

#day span {
    border-bottom: 1px solid #110038;
}

.title {
    margin-top: 76px;
    padding-top: 6px;
    padding-left: 16px;
    font-size: 14px;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

#search-results {
    position: relative;
    display: none;
}

.contain {
    height: 334px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.rec-div {
    width: 24%;
    height: 100%;
    background: #E6E6E6;
    box-shadow: 1px 1px 0px 1px #B4B4B4, 0px 0px 0px 2px #FFFFFF;
    padding: 2px;
}

.rec-div:hover .rec-gif {
    border: 1px dotted #000000;
}

.rec-gif {
    background: #E6E6E6;
    width: 100%;
    height: 93%; 
}

.rec-div p {
    padding-top: 3px;
    padding-left: 5px;
    margin-bottom: 1px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.btn-close {
    position: relative;
    left: 275px;
    bottom: 155px;
    z-index: 2;
}

.btn-more {
    width: 81px;
    height: 34px;
    padding: 0;
    color: #FFFFFF;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    bottom: 54px;
    left: 10px;
}

.btn-more:hover {
    cursor: pointer;
    background: #3A72DB;
}

.btn-more:hover > span {
    border: 1px dotted #000;
    padding: 5px 8px;
}


.contenedor {
    margin-top: 20px;
    height: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 295px 295px 295px;
    grid-gap: 16px;
}

#gif-a {
    grid-column-start: 1;
    grid-column-end: 3;
}

#gif-a div {
    width: 577px;
}

#gif-b {
    grid-column-start: 3;
    grid-column-end: 5;
}

#gif-b div {
    width: 577px;
}

.trend-card img, .search-card img{
    width: 100%;
    height: 100%;
}

.trend-card {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.trend-card:hover {
    padding: 3px;
}

.trend-card div {
    display: none;
    position: relative;
    bottom: 30px;
    left: 1px;
    width: 276px;
    padding: 3px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180f6 100%);
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0;
}

.trend-card:hover img {
    border: 1px dotted #000000;
}

.trend-card:hover div {
    display: block;
}

/* SUBIR GIFOS ############################################# */

#captureSec {
    margin-top: 80px;
    margin-bottom: 80px;
}

#mediaFigure {
    width: fit-content;
    margin: 0 auto;
    background: #E6E6E6;
    box-shadow: 1px 1px 0px 1px #B4B4B4, 0px 0px 0px 2px #FFFFFF;
}


#mediaTitle {
    width: 100%;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 2px 7px;
}

#mediaContent {
    padding: 20px 35px;
}

#mediaContent > img {
    position: relative;
    right: 10px;
    top: 15px;
}

#mediaContent > strong {
    font-size: 1rem;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

#mediaContent li {
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
}

#mediaContent li > span {
    font-weight: bold;
    font-style: italic;
}

.btn-white {
    padding: 0;
    font-size: 16px;
    width: 144px;
    height: 36px;
    background: #FFF4FD;
    color: black;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    grid-column: 3/4;
    justify-self: center;
}

.btn-white span {
    padding: 4px 36px;
}

.btn-white:hover {
    cursor: pointer;
    background: rgb(233, 224, 231);
}

.btn-white:hover > span {
    border: 1px dotted #000000;
}

#readyBtn {
    justify-self: flex-start;
}

#readyBtn span {
    padding: 4px 31px;
}

.initBar {
    width: 680px;
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
    padding-bottom: 36px;
    grid-template-columns: repeat(4, 1fr);
}

.hidden {
    display: none;
}

.videoScreen {
    width: 830px;
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#captureBar {
    width: fit-content;
    margin-left: auto;
    padding: 15px;
    justify-content: flex-end;
}

#cameraImg {
    padding: 6px;
}

#captureBtn > span {
    padding: 4px 29px;
}

#recordBar {
    height: 60px;
}

.timerBox {
    margin: 10px;
    display: inline-block;
    width: fit-content;
    background: #FFFFFF;
    border: 1px solid #979797;
    padding: 7px 17px;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#recordDiv {
    position: relative;
    top: 6px;
    left: 495px;
    height: 36px;
    display: inline-flex;
}

#recordDiv:hover, #recordBtn:hover {
    cursor: pointer;
}

#recordDiv:hover img, #recordDiv:hover span, #recordBtn:hover span {
    border: 1px dotted #ffffff;
}

#recordBtn {
    padding: 0;
    width: 144px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.recordImg {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    padding: 3px;
}

.recordImg img {
    padding: 3px 5px;
}

#recordBtn span {
    padding: 2px 49px;
}

#previewBar {
    display: none; /* Flex  */
    justify-content: space-between;
    margin-right: 10px;
}

.previewLeft {
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.mediaPlay {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 265px;
    height: min-content;
}

#playPrev {
    background: #F7C9F3;
    width: 20px;
    height: 20px;
    border: 1px solid #110038;
    padding: 2px 1px;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#playPrev img {
    padding: 1px 4px;
}

#playPrev:hover {
    cursor: pointer;
}

#playPrev:focus img {
    border: 1px dotted;
}

.progressBar {
    width: 240px;
    height: 18px;
    background: #B4B4B4;
    box-shadow: -1px -1px 0 1px #000000, 0px 0px 0 2px #FFFCFC;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    column-gap: 2px;
    position: relative;
    top: 2px;
}

.progressBar span {
    background: #999999;
}

.previewRight {
    display: flex;
    justify-content: space-between;
    width: 295px;
    padding-top: 10px;
}

.previewRight span {
    padding: 4px 10px;
}

#moreDotted {
    padding: 4px 28px;
}

.uploadingDiv {
    display: none; /* grid */
    justify-items: center;
    grid-template-rows: repeat(4, 1fr);
    width: 830px;
    height: 440px;
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.uploadTop {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-row: 2/3;
}

.uploadTop p {
    font-weight: bolder;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    }

.uploadDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
}

.uploadDown p {
    padding-top: 10px;
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    line-height: 14px;
}

.uploadDown p span {
    text-decoration: line-through;
}

#progressUp {
    width: 324px;
    grid-template-columns: repeat(23, 1fr);
}

.uploadBar {
    padding: 15px;
    margin-left: auto;
    width: fit-content;
    height: 65px;
}

.finishContent {
    display: none; /* flex */
    width: 720px;
    justify-content: space-around;
    padding: 30px 25px 0px;
}

#createdGuifo {
    width: 365px;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.createdBtns {
    width: 256px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createdBtns p {
    font-weight: bold;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.createdBtns button {
    width: 100%;
}

#finishBar {
    width: fit-content;
    margin-left: auto;
    padding: 45px;
}