@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(18, 3, 58);
}

#center {
    width: 88%;
    margin: 0 auto;
}

.top {
    width: 100%;
    height: 23px;
    color: white;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
    font-size: 12px;
}


.top p {
    padding-top: 4px;
    padding-left: 3px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.nav-down {
    margin-top: 25px;
    height: 99px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.nav-down p {
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: inset -2px 0px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.nav-down input {
    margin-top: 12px;
    margin-left: 15px;
    padding-left: 16px;
    width: 87%;
    height: 48px;
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
    background: #FFFFFF;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#search-btn {
    width: 8%;
    height: 36px;
    margin-left: 8px;
    color: #8F8F8F;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#search-btn:focus > span {
    padding: 4px 8px;
    margin-left: -4px;
    border: 1px dotted #110038;
}

#input:focus {
    color: #110038;
}

#search-options {
    position: absolute;
    z-index: 5;
    top: 234px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 1187px;
    height: 160px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

#search-options > div {
    width: 87%;
    height: 36px;
    margin-left: 15px;
    border: 1px solid #808080;
    background: #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #8F8F8F, inset 1px 1px 0 0 #FFFFFF;
}

#search-options button {
    color: black;
    margin-top: 2px;
    margin-left: 2px;
    padding-right: 990px;
    width: 99.6%;
    height: 30px;
    background: #CCCCCC;
    border: none;
}

#search-options button:hover {
    border: 1px dotted black;
}

.input-bar > button:hover {
    border: 1px dotted black;
}

.nav-down button:hover {
    cursor: pointer;
}

.nav-rigth {
    width: 35%;
    justify-content: space-around;
    display: flex;
}

.mis-guifos {
    height: 32px;
    margin-left: 8px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}

.mis-guifos:hover {
    border: 0.5px dotted #FFFFFF;;
}

.mis-guifos:active {
    color: #8b8b8b;
}

.mis-guifos:active span {
    border-bottom: 1px solid #8b8b8b;
}

.mis-guifos span {
    border-bottom: 1px solid #FFFFFF;;
}

.test {
    display: flex;
    height: 36px;
}

.btn-pink:hover, .test:hover button, .test:hover img {
    background: #CE36DB;
}

.btn-pink:active, .test:active button, .test:active img {
    background: #CE36DB;
}

.test:hover, .btn-pink:hover {
    cursor: pointer;
}

.test:hover >.btn-pink > span, .test:hover img, .btn-pink:hover > span {
    border: 1px dotted black;
}

.test:active >.btn-pink > span, .test:active img, .btn-pink:active > span {
    border: 1px dotted black;
}

.test button {
    width: 130px;
}

#handler-ul {
    width: 36px;
    height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

#handler-ul img {
    position: relative;
    top: 2px;
    left: 1px;
    padding: 11px 10px;
}

.btn-pink {
    padding: 0px;
    font-size: 16px;
    width: 144px;
    height: 36px;
    color: #ffffff;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

#create-spn {
    padding: 4px 23px;
}

.btn-pink span {
    padding: 4px 19px;
}

#oculto {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
    width: 166px;
    height: 102px;
    position: absolute;
    top: 97px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#oculto li {
    list-style: none;
    width: 150px;
    height: 36px;
    padding-top: 7px;
    padding-left: 16px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

#oculto li:hover {
    cursor: pointer;
}

#night {
    background: #2E32FB;
    color: #ffffff;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

#night span {
    border-bottom: 1px solid #ffffff;
}

#day {
    background: #CCCCCC;
    color: #110038;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.title {
    margin-top: 76px;
    padding-top: 6px;
    padding-left: 16px;
    font-size: 14px;
    height: 32px;
    background: #FFFAFE;
    border: 2px solid #2E32FB ;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

#search-results {
    position: relative;
    display: none;
}

.contain {
    height: 334px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.rec-div {
    width: 24%;
    height: 100%;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0px 0px #5C5C5C, inset 2px 2px 0px 0px #FFFFFF;
}

.rec-gif {
    padding: 3px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    width: 100%;
    height: 310px; 
}

.rec-div p {
    padding-top: 3px;
    padding-left: 5px;
    height: 24px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.btn-close {
    position: relative;
    left: 275px;
    bottom: 155px;
    z-index: 2;
}

.contenedor {
    margin-top: 20px;
    height: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.gif-a {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gif-b {
    grid-column-start: 3;
    grid-column-end: 5;
}

.trend-card img, .search-card img{
    width: 100%;
    height: 300px;
}